body {
  background-color: purple;
  width: 100%;
  margin: auto;
  font-family: verdana;
}


ul {
  width: 100%;
  max-height: 10%;
  display: flex;
  margin: auto;
  margin-left: -2%;
  background-color: black;


}


li {
  float: left;
  background-color: inherit;
  width: 20%;
}


.titel {
  background-color: red;
  padding: 25px;
}


.tekst {
  margin: auto;
  padding: 25px;
}


.afbeelding {
  text-align: center;
  width: 100%;
}


h1 {
  color: white;
  text-align: center;
}


h2 {
  color: white;
  font-size: 50px;
}


h3 {
  font-weight: bold;
  font-size: 30px;
}


a {
  color: inherit;
  text-decoration: inherit;
}


img {
  max-height: 300px;
}


p {
  font-size: 20px;
}


table, th, td {
  border: 1px solid black;
  margin: auto;
}


th, td {
  padding: 15px;
}
